<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<% @heros.each do |hero| %>
    <div>
        <h2>Hero Name: <%= hero.name %></h2>
        <label> Hero Power: <%= hero.power %></label><br>
        <label>Hero Biography: <%= hero.bio %></label>
    </div>
<% end %>